body {
  width: 1280px;
  gap: 0px;
 }
 h2 {
  margin: 0px;
 }
.start-screen-gradient-background {
  background: url(Image/start-screen-gradient-background.jpg)
 
}
.navigation {
  height: 60px;
  padding: 30px 0 90px 0;
  margin: 0px;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.main_blok {
  width: 100%;
  height: 728px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}
.one {
  margin-top: 163px;
}
.two {
  margin: 0px;
  padding: 0px;
}
img {
  width: 698px;
  height: 728px;
}
.paragraph {
  margin-bottom: 42px;
  margin-top: 42px;
}
.bottonFriend {
  width: 207pxpx;
  height: 52px;
  top: 270px;
  padding: 15px 45px 15px 45px;
  gap: 10px;
  border-radius: 100px;
  opacity: 0px;
  background-color: #F1CDB3;
  border: 0px;
  display: block;
  margin: 0 auto;
}
.second-screen {
  display: flex;
  justify-content: space-around;
  gap: 120px;
  padding: 80px 40px 100px;
}
.three{
  height: 408px;
}
.three img{
  width: 300px;
  height: 408px;
  padding-left: 175px;
  margin-top: 0px;
}
.four {
  height: 408px;
  margin-right: 175px;
}
.third-screen {
  width: 1280px;
  height: 877px;
  gap: 0px;
  background-color: #F6F6F6;
}
.five {
  padding-top: 80px;
}
.catalog {
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
 
}
.image_one {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  margin: 0px;
  border-radius: 9px;
}
.image_two {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  margin: 0px;
  border-radius: 9px;
}
.image_three {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  margin: 0px;
  border-radius: 9px;
 
}
.image_one img {
  width: 270px;
  height: 270px;
  gap: 0px;
  border-radius: 9px 9px 0px 0px;
}
.image_two img {
  width: 270px;
  height: 270px;
  gap: 0px;
  border-radius: 9px 9px 0px 0px;
}
.image_three img {
  width: 270px;
  height: 270px;
  gap: 0px;
  border-radius: 9px 9px 0px 0px;
}
.catalog_button {
  width: 187px;
  height: 52px;
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-align: center;
  display: block;
  margin-left: 41.5px;
}
.fourth-screen {
  width: 1280px;
  height: 611px;
}
.icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 127px;
  margin-right: 127px;
 
 
}
.help img {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.six{
  padding-top: 80px;
}
.fifth-scteen{
  width: 1280px;
  height: 462px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.seven {
  padding: 80px 0px 100px 183px;
}
.seven img {
  width: 505px;
  height: 261px;
  top: 11px;
}
.eight {
  padding: 80px 182px 100px 0px;
}
.Credit-card{
  width: 349px;
  height: 43px;
  margin: 10px 15px 10px 15px;
  margin: 0px;
  border-radius: 9px;
  background-color: #F1CDB3;
  vertical-align: middle;
}
.Credit-card img{
  width: 30px;
  height: 23px;
  padding: 10px 15px 10px 15px;
}
.footer {
  width: 1280px;
  height: 350px;
  top: 3446px;
  display: flex;
  justify-content: space-between;
  background: url(Image/start-screen-gradient-background.jpg)
}
.For_questions {
  margin-left: 40px;
  margin-top: 56px;
}
.We_are_waiting {
  margin-top: 56px;
}
.happy img{
  width: 300px;
  height: 310px;
  left: 900px;
  margin-right: 40px;
  margin-top: 40px;
}
